# Customer websites visits Logrotate configuration file
{{ ansible_managed | comment }}

{{ collectd_logrotate_pattern }} {
{% for option in collectd_logrotate_options %}
    {{ option }}
{% endfor %}
}
